.sliderify-outer-wrap {
	margin-right: 300px;
	padding: 0;
}
.sliderify-inner-wrap {
	position: relative;
	width: 100%;
	min-width: 463px;
	float: left;
}
.sliderify-banners {
	float: right;
	margin-right: -300px;
	width: 280px;
}
.sliderify-banners img {
	max-width: 100%;
}
.sliderify-banner {
	margin-bottom: 1.5em;
}
@media only screen and (max-width: 850px) {
	.sliderify-outer-wrap {
		margin-right: 0;
	}
	.sliderify-inner-wrap {
		position: relative;
		width: 100%;
		min-width: 0;
		float: none;
	}
	.sliderify-banners {
		float: none;
		margin-right: 0;
		width: 100%;
	}
	.sliderify-banner {
		float: left;
		margin-right: 20px;
	}
}
.is-dbpro .hide-dbpro {
	display: none;
}